body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;

}

h1 {
    color: #52616b;
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;
    margin: 3.125rem auto 0 auto;

}
h2 {
    color: #52616b;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    margin-top: 3.125rem;
    padding-bottom: 10px;
    


}

h3 {
    color: #52616b;
    font-family: 'Montserrat', sans-serif;

    
}

p {
    color: #1d2d50;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 3.125rem;
    font-size: medium;

}

a{
    color: #1d2d50;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
  }

  hr {
    border: dotted #8d93ab 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
  }

.top-paragraph {
    color: #c9d6df;
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
}

.top-container {
    background-color: #f1f3f8;
    position: relative;
    padding-top: 100px;

}

.middle-container {
    margin: 100px 0;
    
   
}

.bottom-container {
    background-color: #f1f3f8;
    padding: 50px 0 20px;
    
}

.web {
    text-decoration: underline;
}

.bottom-cloud {
    position: absolute;
    left: 200px;
    bottom: 400px;
    margin-bottom: 100px;
   margin-top: 100px;
    
    
}

.top-cloud {
    position: absolute;
    right: 250px;
    top: 50px;
    
}
.top-primary {
   position: relative;
    width: 180px;
    height: 180px;
}
.primary {
    position: relative;
    width: 34.375rem;
    height: 21.875rem;
    padding-bottom: 6.25rem;
    border-radius: 10px 100px / 120px;
}

.profile {
    background-color:white;
}

.projects-row {
    background-color: ;
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left; 
}
.projects{
    background-color: ;
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left; 
}

.intro {
    font-size: medium;
    width: 30%;
    margin: auto;
  }

.contact-me {
    width: 40%;
    margin: 40px auto 60px; 
}

  .contact-img {
    width: 25%;
    float: left;
    margin-right: 30px;
  }

  .code-img {
    width: 25%;
    float: left;
    margin-right: 30px;
  }

  .computer-img {
    width: 25%;
    float: right;
    margin-left: 30px;
  }